---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="kleinrath bauingenieure VBI - Startseite">
    <h2 class="text-xl font-bold mb-4">Ihr kompetenter Partner für Bauvorhaben aller Art</h2>
    <p class="mb-4">
        Wir sind ein Ingenieurunternehmen mit Qualifikation, Erfahrung und Wissen, das für Ihre konkrete Aufgabe die
        für sie optimale Lösung erarbeitet.
    </p>

    <p class="mb-4">
        Entwurfsberatung, Planungsqualität und wirtschaftliches Bauen sind seit 40 Jahren unsere Schwerpunkte,
        ebenso wie terminliche Sicherheit und gewissenhafte Detailbearbeitung.
    </p>

    <p class="mb-4">
        Das Büro verfügt über fundierte Erfahrungen in allen Bereichen der Bautechnik, zur Zufriedenheit unseres
        Kundenkreises im öffentlichen, gewerblichen und privaten Bereich.
    </p>

    <p>
        Mit kleinrath bauingenieure VBI integrieren Sie ein zuverlässiges und qualifiziertes Bauingenieurbüro in Ihr
        Projekt.
    </p>
    <a href={import.meta.env.BASE_URL + "/kontakt/"}
       class="inline-block mt-6 px-6 py-3 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700">
        Jetzt Kontakt aufnehmen
    </a>
</MainLayout>