---
import MainLayout from "../layouts/MainLayout.astro";
import ContactForm from "../components/ContactForm.astro";
import LiamE from "../components/LiamE.astro";
import Nofelet from "../components/Nofelet.astro";
---
<MainLayout title="kleinrath bauingenieure VBI - Kontakt">
    <h2 class="text-xl font-bold mb-4">Unsere Kontaktdaten</h2>

    <p class="mb-4">Wir freuen uns, gemeinsam mit Ihnen Ihre Projekte zu realisieren. Treten Sie noch heute mit uns in
        Kontakt über
        unser Kontaktformular oder unter:</p>

    <div class="mb-4">
        <p><strong>kleinrath bauingenieure VBI</strong></p>
        <p>Bruckertalstrasse 41</p>
        <p>73527 Schwäbisch Gmünd</p>
    </div>
    <div class="mb-4">
        <p><strong>Telefon:</strong> <span class="text-blue-600 dark:text-blue-950 hover:underline"><Nofelet/></span>
        </p>
        <p><strong>E-Mail:</strong> <span class="text-blue-600 dark:text-blue-950 hover:underline"><LiamE/></span>
        </p>
    </div>
    <ContactForm/>
</MainLayout>