---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="kleinrath bauingenieure VBI - Leistungen">
    <h2 class="text-xl font-bold mb-4">Unser Leistungsspektrum</h2>

    <h3 class="text-lg font-semibold mb-3">TRAGWERKSPLANUNG / STATIK</h3>

    <ul class="mb-6">
        <li><strong>wir beraten</strong> <br/> - Bauherren und Architekten</li>
        <li><strong>wir entwickeln</strong> <br/> - kostengünstige Tragwerke</li>
        <li><strong>wir entwerfen</strong> <br/> - wirtschaftliche Fertigteil- und Spannbetonkonstruktionen</li>
        <li><strong>wir konstruieren</strong> <br/> - Bauwerke aus Holz, Stahl, Mauerwerk und Stahlbeton</li>
        <li><strong>wir berechnen</strong> <br/> - Standsicherheits- und Wärmeschutznachweis</li>
        <li><strong>wir zeichnen</strong> <br/>- Schal-, Bewehrungs- und Werkstattpläne</li>
        <li><strong>wir bewahren</strong> <br/> -historische Bausubstanz</li>
    </ul>

    <h3 class="text-lg font-semibold mb-3">ENERGIEBERATUNG</h3>

    <ul>
        <li>Sachverständiger gem. Energie-Expertenliste für Förderprogramme des Bundes (dena-Liste)</li>
        <li>Energieausweise gem. EnEV</li>
        <li>Förderanträge bei kfw</li>
    </ul>
</MainLayout>