---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="kleinrath bauingenieure VBI - Referenzen">
    <h2 class="text-xl font-bold mb-4">Unsere Kontaktdaten</h2>

    <p class="mb-4">Ob private, gewerbliche oder Bauvorhaben der öffentlichen Hand: Ein breites Spektrum an Kunden
        vertraut auf unsere Planungs- und Bauleitungs-kompetenz. Hier finden Sie eine Auswahl unserer bisher
        realisierten Aufträge.</p>

    <h2 class="text-xl font-bold">Aufträge im Überblick</h2>

    <div class="space-y-4 p-4">
        <div>
            <p class="text-lg font-semibold">Altenpflegeheim - Nufringen</p>
            <p class="text-sm">Architekt E. Ernst - Stuttgart</p>
        </div>

        <div>
            <p class="text-lg font-semibold">Allbeton Betonwerk - Aalen</p>
            <p class="text-sm">Allbeton</p>
        </div>

        <div>
            <p class="text-lg font-semibold">Landesgymnasium - Schwäbisch Gmünd</p>
            <p class="text-sm">Architekten D`Inka und Scheible - Stuttgart</p>
        </div>

        <div>
            <p class="text-lg font-semibold">Medi-Center - Mutlangen</p>
            <p class="text-sm ">Essinger Wohnbau</p>
        </div>

        <div>
            <p class="text-lg font-semibold">Erweiterung Wellenbad - Adelberg</p>
            <p class="text-sm ">Architekt Scheu - Nürtingen</p>
        </div>

        <div>
            <p class="text-lg font-semibold">MFH Pfennigmühle - Schwäbisch Gmünd</p>
            <p class="text-sm ">Architekten Reichl, Sassenscheid & Partner</p>
        </div>

        <div>
            <p class="text-lg font-semibold">Realschule - Plüderhausen</p>
        </div>

        <div>
            <p class="text-lg font-semibold">LRA - Wiesloch</p>
            <p class="text-sm ">Abele Projekt</p>
        </div>

        <div>
            <p class="text-lg font-semibold">Wohnhaus Rieger - Bad Boll</p>
            <p class="text-sm ">Architekt Keller-Daum - Stuttgart</p>
        </div>

        <div>
            <p class="text-lg font-semibold">Möbelhaus Rieger - Aalen, Göppingen</p>
            <p class="text-sm ">Architekten Bosch + Partner - Göppingen</p>
        </div>

        <div>
            <p class="text-lg font-semibold">JVA Gotteszell - Schwäbisch Gmünd</p>
            <p class="text-sm ">Bidlingmaier + Egenhofer + Dübers - Stuttgart</p>
        </div>

        <div>
            <p class="text-lg font-semibold">Gentner - Aalen</p>
            <p class="text-sm ">Architekten Franke + Wiedmaier</p>
        </div>

        <div>
            <p class="text-lg font-semibold">Stadthalle - Schorndorf</p>
            <p class="text-sm ">Architekt Stammler</p>
        </div>

        <div>
            <p class="text-lg font-semibold">Dietrich Theater Multiplex Kino - Neu-Ulm</p>
            <p class="text-sm ">Architekten Nitsche und Pfeifer - Schwäbisch Gmünd</p>
        </div>
    </div>


</MainLayout>