---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="kleinrath bauingenieure VBI - Unser Büro">
        <h2 class="text-xl font-bold mb-4">Büro</h2>
        <ul class="mb-6">
            <li>großzügige, helle Büroräume</li>
            <li>angenehme Arbeitsatmosphäre</li>
        </ul>

        <h2 class="text-xl font-bold mb-4">Mitarbeiter</h2>
        <ul class="mb-6">
            <li>auf neuste Normen geschult</li>
            <li>kreativ und motiviert</li>
        </ul>

        <h2 class="text-xl font-bold mb-4">Technische Ausstattung</h2>
        <ul>
            <li>hochwertiges CAD-System</li>
            <li>Statikprogramme auf aktuellstem Stand (RIB und abacus)</li>
            <li>Rechner und Geräte regelmäßig gewartet</li>
        </ul>
</MainLayout>