---
const {title = "kleinrath bauingenieure VBI"} = Astro.props;
---

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content={Astro.generator}/>
<meta name="description"
      content="Von der Bauplanung über Bauleitung, Projektsteuerung und Inbetriebnahme bis zum Nachtrags- und Mängelmanagement: Unsere Spezialisten von Kleinrath Bauingenieure VBI betreuen alle Phasen Ihres Bauvorhabens.">
<meta name="keywords"
      content="Bauingenieur, Kleinrath Bauingenieure, Bauplanung, Bauleitung, Projektsteuerung, Bauüberwachung, Bauprojektmanagement, Mängelmanagement, Inbetriebnahme, VBI">
<link rel="sitemap" href="https://green-development.github.io/sitemap-index.xml"/>

<meta property="og:title" content={title}/>
<meta property="og:description"
      content="Von der Bauplanung über Bauleitung, Projektsteuerung und Inbetriebnahme bis zum Nachtrags- und Mängelmanagement: Unsere Spezialisten von Kleinrath Bauingenieure VBI betreuen alle Phasen Ihres Bauvorhabens."/>
<meta property="og:type" content="website"/>

<title>{title}</title>
