---
import LiamE from "./LiamE.astro";
import Nofelet from "./Nofelet.astro";
---
<div class="p-5 w-[270px] mx-auto lg:mt-7 mb-10 bg-gray-100 shadow rounded-lg dark:bg-gray-800 dark:text-gray-300">
    <h2 class="text-xl font-bold mb-3">Ihr Ansprechpartner für</h2>
    <ul class="list-none mb-5">
        <li>Statik + Konstruktion</li>
        <li>Holz - Stahl</li>
        <li>Beton - Fertigteile</li>
        <li>Historische Bauten</li>
        <li>Energieberatung</li>
        <li>Umbauten - Sanierungen</li>
    </ul>

    <h3 class="text-lg font-semibold mb-2">Wolfgang Kleinrath</h3>
    <p>Dipl.-Ing. (FH)</p>

    <address class="mt-4 not-italic">
        <p>Bruckertalstrasse 41</p>
        <p>73527 Schwäbisch Gmünd</p>

        <p class="mt-4">Telefon:</p>
        <p><span class="text-blue-600 dark:text-blue-400 hover:underline"><Nofelet/></span></p>

        <p class="mt-4">E-Mail:</p>
        <p><span class="text-blue-600 dark:text-blue-400 hover:underline"><LiamE/></span></p>
    </address>
</div>