---
import LiamE from "./LiamE.astro";
import Nofelet from "./Nofelet.astro";
const currentYear = new Date().getFullYear();
---

<footer class="bg-gray-800 text-white py-6">
    <div class="container mx-auto max-w-7xl px-4 flex flex-col lg:flex-row justify-between items-center">

        <!-- Logo or Company Name -->
        <div class="mb-4 md:mb-4">
            <h3 class="text-lg font-bold">kleinrath bauingenieure VBI</h3>
            <p class="text-sm">Bruckertalstrasse 41, 73527 Schwäbisch Gmünd</p>
        </div>

        <!-- Navigation Links -->
        <div class="mb-4 md:mb-4">
            <ul class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-4">
                <li><a href={import.meta.env.BASE_URL + "/"} class="hover:underline">Startseite</a></li>
                <li><a href={import.meta.env.BASE_URL + "/unser-buero"} class="hover:underline">Unser Büro</a></li>
                <li><a href={import.meta.env.BASE_URL + "/leistungen"} class="hover:underline">Leistungen</a></li>
                <li><a href={import.meta.env.BASE_URL + "/referenzen"} class="hover:underline">Referenzen</a></li>
                <li><a href={import.meta.env.BASE_URL + "/kontakt"} class="hover:underline">Kontakt</a></li>
                <li><a href={import.meta.env.BASE_URL + "/impressum"} class="hover:underline">Impressum</a></li>
            </ul>
        </div>

        <!-- Social Media / Contact Info -->
        <div class="text-sm min-w-[200px] pl-4 mb-4">
            <p>Telefon: <span class="text-blue-400 hover:underline"><Nofelet/></span></p>
            <p>E-Mail: <span class="text-blue-400 hover:underline"><LiamE/></span>
            </p>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-center">
        <div id="wcb" class="carbonbadge wcb-d mb-6"></div>
        <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
        <p>&copy; {currentYear} kleinrath bauingenieure VBI. Alle Rechte vorbehalten.</p>
    </div>
</footer>
