---
import Picture from 'astro/components/Picture.astro';
import emotionheader from '../assets/emotionheader.jpg';
const {title = "kleinrath bauingenieure VBI"} = Astro.props;
---
<div class="relative w-screen bg-gradient-to-t from-[#99a2b5] to-[#65738d] h-[30vh] flex justify-center items-center overflow-hidden">
    <Picture src={emotionheader}
             class="w-[80rem] min-w-[80rem] max-h-52 h-[30vh] pr-6"
             alt="Ruler on blueprint"
             formats={["avif", "webp"]}
             loading={"eager"}/>

    <div class="absolute flex w-screen max-w-[78.5rem] p-2 bg-white bg-opacity-50 -translate-y-2/3 z-10 mr-6">
        <h1 class="text-black text-lg pl-16 md:text-xl font-bold">{title}</h1>
    </div>
</div>
